{% extends 'base.html' %}
{% block title %}ProSaanti{% endblock %}
{% block content %}
{% block nav %}
{% endblock %}
{% include 'sidebar.html' %}
{% if clints %}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <caption
                        class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    Clint List
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Full Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone Number
                    </th>
                    <th scope="col" class="px-6 py-3">
                        E-mail
                    </th>

                </tr>
                </thead>
                <tbody>
                <a href="#" >
                    {% for clint in clints %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td scope="row "
                            class="{% if clint.is_new == True %}font-bold text-md text-black px-6 py-4 {% else %}px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white{% endif %}">
                            <a href="#">Your clint is {{ clint.full_name }} and email is {{ clint.user }}</a>
                        </td>
                        <td class="px-6 py-4">
                            {{ clint.phone }}
                        </td>
                        <td class="px-6 py-4">
                            {{ clint.user }}
                        </td>
                    </tr>
                    {% endfor %}
                </a>
                </tbody>

            </table>
        </div>

    </div>
</div>


{% else %}
<div class="p-4 sm:ml-64">
    <div class="p-10 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
        <div class="w-full text-center">
            <p class="mb-2 text-4xl font-bold tracking-tight text-gray-900">No Clints</p>
            <a href="{% url 'admin' %}"
               class="hover:underline hover:underline-offset-8 text-indigo-500 hover:text-indigo-800">Go to
                Dashboard</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}